body{
    background-repeat: no-repeat;
    background-size: cover;  
}

.main-container{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:hotpink;
}

.timer{
    font-weight: 500;
    font-size:168px;
    line-height: 168px;
}

.timer-content{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.memo-wrapper{
    font-size:24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.memo{
    font-size: 30px;
}

.modal-button{
    position: fixed;
    right: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
   
    background: url("../images/001-cloud.png");
    background-size: cover;
    cursor: pointer;


}
.card-header{
    color: red;
}
.card-body{
    color : blue;
}